html {
  color: #000000;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}
svg {
  stroke: transparent;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
p,
ul,
ol {
  color: #000000;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 400;
}
a:link,
a:visited {
  color: #000000;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-bottom: 0.125rem solid #ffd000;
  text-decoration: none;
}
a:hover,
a:active {
  border-width: 0.25rem;
}
h1 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 2.35rem;
  font-weight: 400;
  line-height: 1.3;
}
h2 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
h3 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
}
h4,
h5,
h6 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
img,
figcaption,
#authorship-info {
  color: #000000;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
::selection {
  background: rgba(255, 208, 0, 0.6);
}
strike {
  opacity: 40%;
}
#authorship-info {
  text-align: right;
}
ol li ol li {
  list-style-type: lower-alpha;
}
ol li ol li ol li {
  list-style-type: lower-roman;
}
html {
  background-color: #ebeae6;
}
body,
header,
section,
footer {
  padding: 0.5rem;
}
body {
  margin: 0 auto;
}
.menu {
  float: right;
  text-align: right;
  padding-left: 0;
}
.menu li {
  display: inline-block;
  line-height: 2rem;
}
.menu a {
  margin-left: 1rem;
}
section {
  margin: 0 auto;
  padding: 0.5rem;
}
section :first-child {
  margin-top: 0;
}
section :last-child {
  margin-bottom: 0;
}
section section {
  margin: 1rem;
}
#copyright {
  font-style: italic;
}
#logo {
  background-image: url("../assets/logo-k.svg");
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  display: inline-block;
}
.callout {
  background-color: rgba(255, 208, 0, 0.4);
}
.highlight {
  background-color: rgba(0, 255, 208, 0.4);
  padding: 0.125rem;
}
.flag {
  border-left: rgba(0, 0, 0, 0.2) 0.5rem solid;
  margin-left: 0.5rem;
}
figure {
  margin: 0;
}
figure img,
figure figcaption {
  display: block;
  text-align: center;
}
figure img {
  width: 100%;
}
figure figcaption {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 208, 0, 0.2);
  padding: 0.125rem;
}
a .card {
  background-color: #ffffff;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-left: 0.5rem solid #ffd000;
}
a .card h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
a:last-child .card {
  margin-bottom: 0;
}
a:hover .card {
  background-color: rgba(255, 208, 0, 0.4);
}
a:active .card {
  background-color: #ffd000;
}
a.button {
  background-color: #ffffff;
  display: flex;
  padding: 0.5rem;
  max-width: 15rem;
  margin: 0 auto;
  border: 0.5rem solid #ffd000;
}
a.button h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
a:hover.button {
  background-color: rgba(255, 208, 0, 0.4);
}
a:active.button {
  background-color: #ffd000;
}
.button-icon.material-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
#fancy-border-top,
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  background-color: #ffd000;
  position: fixed;
}
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  display: none;
}
#fancy-border-left,
#fancy-border-right {
  top: 0;
  bottom: 0;
}
#fancy-border-top,
#fancy-border-bottom {
  left: 0;
  right: 0;
}
#fancy-border-top {
  top: 0;
  height: 0.5rem;
}
#fancy-border-right {
  right: 0;
}
#fancy-border-bottom {
  bottom: 0;
}
#fancy-border-left {
  left: 0;
}
body {
  padding-top: 1.5rem;
}
.resume {
  max-width: 80rem;
  text-align: center;
}
.resume object {
  height: 60vh;
}
@media screen and (min-width: 520px) and (min-height: 520px) {
  body {
    width: 80%;
    max-width: 100rem;
  }
  body header,
  body section,
  body footer {
    padding: 1rem;
  }
  section {
    max-width: 44rem;
  }
  #fancy-border-right,
  #fancy-border-bottom,
  #fancy-border-left {
    display: block;
  }
  #fancy-border-left,
  #fancy-border-right {
    width: 1.5rem;
  }
  #fancy-border-top,
  #fancy-border-bottom {
    height: 1.5rem;
  }
  body {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 600px) {
  a .card {
    display: flex;
  }
  .card .card-title,
  .card figure {
    display: flex;
    flex-direction: column;
  }
  .card .card-title {
    margin-right: 1rem;
    flex-basis: 66%;
  }
  .card figure {
    flex-basis: 34%;
  }
}
@media screen and (min-width: 1200px) {
  #project figure {
    width: 140%;
    margin-left: -20%;
  }
}
