// reset
* {
  margin: 0;
  padding: 0;
}

// variables
@color1: #6666ff;

@fontfamilyprimary: sans-serif;

@fontsizebody: 1em;
@fontsizeheader: 2em;
@fontsizetitle: 3em;

// mixins
.font(@color, @fontfamily, @fontsize) {
  color: @color;
  font-family: @fontfamily;
  font-size: @fontsize;
}

// styles
p {
  .font(@color1, @fontfamilyprimary, @fontsizebody);
}

h1 {
  .font(@color1, @fontfamilyprimary, @fontsizetitle);
}

h2 {
  .font(@color1, @fontfamilyprimary, @fontsizeheader);
}