//////////////////////////////
// reset
//////////////////////////////
* {
  margin: 0;
  padding: 0;
}


//////////////////////////////
// variables
//////////////////////////////
@color1: #6666ff;

@fontfamilyprimary: sans-serif;

@fontsizebody: 1em;
@fontsizeheader: 2em;
@fontsizetitle: 3em;


//////////////////////////////
// text styles
//////////////////////////////
.font(@color, @family, @size) {
  color: @color;
  font-family: @family;
  font-size: @size;
}

p {
  .font(@color1, @fontfamilyprimary, @fontsizebody);
}

h1 {
  .font(@color1, @fontfamilyprimary, @fontsizetitle);
}

h2 {
  .font(@color1, @fontfamilyprimary, @fontsizeheader);
}


//////////////////////////////
// page layout
//////////////////////////////
.center() {
  margin: 0 auto;
}

.border(@width, @style, @color) {
  border-width: @width;
  border-style: @style;
  border-color: @color;
}

body {
  max-width: 1200px;
  .center();
  .border(10px, solid, @color1);
}