html {
  line-height: 1.3;
}
svg {
  stroke: transparent;
}
p,
ul,
ol {
  color: #000000;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 400;
}
a:link,
a:visited {
  color: #000000;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-bottom: 0.125rem solid #ffd000;
  text-decoration: none;
}
a:hover,
a:active {
  border-width: 0.25rem;
}
h1 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}
h2 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
}
figcaption,
img,
.authorship-info {
  color: #000000;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
.menu li {
  line-height: 2rem;
}
::selection {
  background: rgba(255, 208, 0, 0.6);
}
strike {
  opacity: 40%;
}
.highlight {
  background-color: rgba(0, 255, 208, 0.4);
  padding: 0.125rem;
}
.authorship-info {
  text-align: right;
}
html {
  background-color: #ebeae6;
}
body,
header,
section,
footer {
  padding: 0.5rem;
}
body {
  margin: 0 auto;
}
.menu {
  float: right;
  text-align: right;
  padding-left: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  margin-left: 1rem;
}
section {
  margin: 0 auto;
  padding: 0.5rem;
}
#copyright {
  font-style: italic;
}
#logo {
  background-image: url("../assets/logo-k.svg");
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  display: inline-block;
}
.callout {
  background-color: rgba(255, 208, 0, 0.4);
  display: inline-block;
  padding: 0.25rem;
}
.project figure img,
.project figure figcaption {
  display: block;
  text-align: center;
}
.project figure img {
  width: 100%;
}
.project figure figcaption {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 208, 0, 0.2);
  padding: 0.125rem;
}
#fancy-border-top,
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  background-color: #ffd000;
  position: fixed;
}
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  display: none;
}
#fancy-border-left,
#fancy-border-right {
  top: 0;
  bottom: 0;
}
#fancy-border-top,
#fancy-border-bottom {
  left: 0;
  right: 0;
}
#fancy-border-top {
  top: 0;
  height: 0.5rem;
}
#fancy-border-right {
  right: 0;
}
#fancy-border-bottom {
  bottom: 0;
}
#fancy-border-left {
  left: 0;
}
body {
  padding-top: 1.5rem;
}
.resume {
  max-width: 80rem;
  text-align: center;
}
.resume object {
  height: 60vh;
}
@media screen and (min-width: 520px) and (min-height: 520px) {
  body {
    width: 80%;
    max-width: 100rem;
  }
  body header,
  body section,
  body footer {
    padding: 1rem;
  }
  section {
    max-width: 40rem;
  }
  #fancy-border-right,
  #fancy-border-bottom,
  #fancy-border-left {
    display: block;
  }
  #fancy-border-left,
  #fancy-border-right {
    width: 1.5rem;
  }
  #fancy-border-top,
  #fancy-border-bottom {
    height: 1.5rem;
  }
  body {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .project figure {
    width: 140%;
    margin-left: -20%;
  }
}
