svg {
  stroke: transparent;
}
a {
  color: #332200;
  font-family: sans-serif;
  font-size: 1em;
}
p {
  color: #332200;
  font-family: sans-serif;
  font-size: 1em;
}
h1 {
  color: #332200;
  font-family: sans-serif;
  font-size: 3em;
}
h2 {
  color: #332200;
  font-family: sans-serif;
  font-size: 2em;
}
#fancy-border-top,
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  display: none;
}
html {
  background-color: #f4f4f4;
}
body,
header,
.content,
footer {
  padding: 0.5em;
}
body {
  max-width: 50em;
  margin: 0 auto;
}
header {
  margin: 1.5em;
}
.menu {
  float: right;
  text-align: right;
}
.menu li {
  display: inline-block;
}
.menu a {
  margin-left: 1em;
}
.content {
  max-width: 40em;
  margin: 0 auto;
  padding: 0.5em;
}
#copyright {
  font-style: italic;
}
#logo {
  background-image: url("../assets/logo-k.svg");
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
}
@media screen and (min-width: 520px) {
  body {
    width: 80%;
    padding: 4em;
  }
  body header,
  body .content,
  body footer {
    padding: 1em;
  }
  #fancy-border-top,
  #fancy-border-right,
  #fancy-border-bottom,
  #fancy-border-left {
    background-color: #ffdd00;
    position: fixed;
    display: block;
  }
  #fancy-border-left,
  #fancy-border-right {
    top: 0;
    bottom: 0;
    width: 3em;
  }
  #fancy-border-top,
  #fancy-border-bottom {
    left: 0;
    right: 0;
    height: 3em;
  }
  #fancy-border-top {
    top: 0;
  }
  #fancy-border-right {
    right: 0;
  }
  #fancy-border-bottom {
    bottom: 0;
  }
  #fancy-border-left {
    left: 0;
  }
}
