svg {
  stroke: transparent;
}
* {
  color: #1d1d1d;
  font-family: 'Source Serif Pro', 'georgia', 'times new roman', serif;
  font-size: 1.2rem;
  font-weight: 400;
}
a {
  color: #1d1d1d;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-bottom: 0.125rem solid #ffd000;
  text-decoration: none;
}
a:hover,
a:active {
  border-width: 0.25rem;
}
h1 {
  color: #1d1d1d;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
}
h2 {
  color: #1d1d1d;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
ul,
ol {
  line-height: 2rem;
}
::selection {
  background: rgba(255, 208, 0, 0.6);
}
html {
  background-color: #f4f4f4;
}
body,
header,
section,
footer {
  padding: 0.5rem;
}
body {
  margin: 0 auto;
}
.menu {
  float: right;
  text-align: right;
  padding-left: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  margin-left: 1rem;
}
section {
  margin: 0 auto;
  padding: 0.5rem;
}
#copyright {
  font-style: italic;
}
#logo {
  background-image: url("../assets/logo-k.svg");
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  display: inline-block;
}
#fancy-border-top,
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  background-color: #ffd000;
  position: fixed;
}
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  display: none;
}
#fancy-border-left,
#fancy-border-right {
  top: 0;
  bottom: 0;
}
#fancy-border-top,
#fancy-border-bottom {
  left: 0;
  right: 0;
}
#fancy-border-top {
  top: 0;
  height: 1rem;
}
#fancy-border-right {
  right: 0;
}
#fancy-border-bottom {
  bottom: 0;
}
#fancy-border-left {
  left: 0;
}
body {
  padding-top: 2rem;
}
.resume {
  max-width: 80rem;
  text-align: center;
}
.resume object {
  height: 60vh;
}
@media screen and (min-width: 520px) {
  body {
    width: 80%;
    max-width: 100rem;
  }
  body header,
  body section,
  body footer {
    padding: 1rem;
  }
  section {
    max-width: 40rem;
  }
  #fancy-border-right,
  #fancy-border-bottom,
  #fancy-border-left {
    display: block;
  }
  #fancy-border-left,
  #fancy-border-right {
    width: 3rem;
  }
  #fancy-border-top,
  #fancy-border-bottom {
    height: 3rem;
  }
  body {
    padding: 4rem;
  }
}
