svg {
  stroke: transparent;
}
a {
  color: #1d1d1d;
  font-family: 'Source Serif Pro', 'georgia', 'times new roman', serif;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 0.125em solid #ffd000;
  text-decoration: none;
}
a:hover,
a:active {
  border-width: 0.25em;
}
p {
  color: #1d1d1d;
  font-family: 'Source Serif Pro', 'georgia', 'times new roman', serif;
  font-size: 1.2em;
  font-weight: 400;
}
h1 {
  color: #1d1d1d;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-size: 2.6em;
  font-weight: 400;
}
h2 {
  color: #1d1d1d;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
}
html {
  background-color: #f4f4f4;
}
body,
header,
section,
footer {
  padding: 0.5em;
}
body {
  max-width: 50em;
  margin: 0 auto;
}
.menu {
  float: right;
  text-align: right;
  padding-left: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  margin-left: 1em;
}
section {
  max-width: 40em;
  margin: 0 auto;
  padding: 0.5em;
}
#copyright {
  font-style: italic;
}
#logo {
  background-image: url("../assets/logo-k.svg");
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  display: inline-block;
}
#fancy-border-top,
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  background-color: #ffd000;
  position: fixed;
}
#fancy-border-right,
#fancy-border-bottom,
#fancy-border-left {
  display: none;
}
#fancy-border-left,
#fancy-border-right {
  top: 0;
  bottom: 0;
}
#fancy-border-top,
#fancy-border-bottom {
  left: 0;
  right: 0;
}
#fancy-border-top {
  top: 0;
  height: 1em;
}
#fancy-border-right {
  right: 0;
}
#fancy-border-bottom {
  bottom: 0;
}
#fancy-border-left {
  left: 0;
}
body {
  padding-top: 2em;
}
@media screen and (min-width: 520px) {
  body {
    width: 80%;
  }
  body header,
  body section,
  body footer {
    padding: 1em;
  }
  #fancy-border-right,
  #fancy-border-bottom,
  #fancy-border-left {
    display: block;
  }
  #fancy-border-left,
  #fancy-border-right {
    width: 3em;
  }
  #fancy-border-top,
  #fancy-border-bottom {
    height: 3em;
  }
  body {
    padding: 4em;
  }
}
