* {
  margin: 0;
  padding: 0;
}
p {
  color: #6666ff;
  font-family: sans-serif;
  font-size: 1em;
}
h1 {
  color: #6666ff;
  font-family: sans-serif;
  font-size: 3em;
}
h2 {
  color: #6666ff;
  font-family: sans-serif;
  font-size: 2em;
}
html {
  border-width: 8px;
  border-style: solid;
  border-color: #6666ff;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
}
